@model List<RazorEX.BAL.DTOs.CategoryDTO.CategoryDto>

<body class=" bg-info" method="post">
    <div class="container">
        <h2 class="text-center text-succes h1 "></h2>
        <hr>
        <table class="table">
            <thead class="text-warning">
                <tr>
                    <th>
                        <p class="" style="color:darkred">عنوان :</p>
                    </th>
                    <th>
                        <p class="" style="color:darkred">slug : </p>
                    </th>
                    <th>
                        <p class="" style="color:darkred">MetaDescription : </p>
                    </th>
                    <th>
                        <p class="" style="color:darkred">MetaTag : </p>
                    </th>
                </tr>
            <tbody>
                @foreach (var data in Model.Where(m => m.ParentId == null))
                    {
                    <tr>
                        <td>@data.Title</td>
                        <td>@data.Slug</td>
                        <td>@data.MetaTag</td>
                        <td>@data.MetaDescription</td>
                        <td>
                                @if (Model.Any(r => r.ParentId == data.Id))
                                {
                                <ul>
                                        @foreach (var subCategory in Model.Where(m => m.ParentId == data.Id))
                                        {
                                        <li>
                                                @subCategory.Title 
                                            <a asp-area="Adminstration" asp-controller="Category" asp-action="Edit" asp-route-id="@subCategory.Id" class="btn btn-info btn-sm">ویرایش</a>
                                        </li>
                                        }
                                </ul>
                                }
                        </td>
                        <td>
                            <a asp-area="Adminstration" asp-controller="Category" asp-action="Edit" asp-route-Id="@data.Id" class="btn btn-info btn-sm">ویرایش</a>
                            <a asp-area="Adminstration" asp-controller="Category" asp-action="Add" asp-route-ParentId="@data.Id" class="btn btn-succes btn-sm">افزودن زیر گروه</a>
                        </td>
                    </tr>
                    }
            </tbody>
        </table>
        <a class="btn btn-success align-right" asp-area="Adminstration" asp-controller="Category" asp-action="Add">Add Task</a>
        <br>
    </div>
</body>








